.content{
    padding-top: 200px;
    padding-bottom: 200px;
}
.content h1{
    color:#ba940c ;
}
.content a{
    color: #000;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}
.content a:hover{
    color: #ba940c;
}